language: node_js
dist: trusty
sudo: 'false'
before_script:
  - npm install -g polymer-cli
  - polymer install --variants
node_js: '9'
addons:
  firefox: latest
  chrome: stable
script:
  - xvfb-run polymer test
  - |-
    >-
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then polymer test -s 'default';
    fi
env:
  global:
    - secure: >-
        A8LhjzJbyBaxyH95WdepQWoFoEo0pYq2B1w6Z6sOdNOo66mMaqMCkpHSXlbfAl2hlXDUS/B52TZUDBjPLh42MO9MXTEDP8XpP9cOMcjFXruSFGeDitvV+SymHfZsP2oCCcpAB9i/CfSiT6VktdEzvBnU6j9prFlkU9IUZGFJrNk=
    - secure: >-
        bmnA56A7ykGb4Vt6+yWkrLcsfwVDeQeqE2HzjfpZ6Qx6YE0GXOWpHe4Vt+VKmZi/9maghlU+pSqBqGB98nQlVKtLp8ay3fBmhYyaETmPVMwSv650jYgEaxmomBlj0kD633F1VWjoR/Gjtds4yy3f+w5DB3alWllkewD0/OmQ8tY=
cache:
  directories:
    - node_modules
